# Ejercicios con Pandas

En la siguiente sección aprenderemos a utilizar pandas a través de la exploración y análisis de tres diferentes set de datos.

1. u.users, una tabla de datos con la que aprenderemos a explorar los datos.
2. US - Baby Names, con lo que obtendremos datos estadisticos.
3. Google Finance, para el analisis de precios de acciones


## Explorando datos

Usaremos la tabla del siguiente [link](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user), luego de cargar la tabla utilizaremos los diferentes métodos que nos entrega los DataFrame para responder las siguientes preguntas.

### Preguntas

1. ¿Cuáles son las primeras 25 entradas?
2. ¿Cuáles son las últimas 25 entradas?
3. ¿Cuántas entradas totales tiene la tabla de datos?
4. ¿Cuántas columnas posee la tabla?
5. ¿Cuáles son los nombres de las columnas?
6. ¿Cuáles son los indices de la tabla?
7. ¿Cuáles son los tipos de cada columna?
8. Mostrar solo la columna de age, luego mostrar dos columnas 'occupation' y 'gender'
9. ¿Cuántas ocupaciones distintas hay en la tabla?
10. ¿Hay más hombres que mujeres?
11. ¿Cuál es la edad promedio?
12. Resumen estadistico de la edad
13. ¿Cuál es la ocupación más frecuente?
14. ¿Cuál es la edad menos frecuente?

Para comenzar debemos importar pandas y cargar los datos.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

### Desarrollo

## Obteniendo datos estadisticos

El siguiente conjunto de datos los obtendremos desde este [link](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv). Esta contiene los nombres de los bebés nacidos en estados unidos desde el 2004 al 2014.

In [ ]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

del baby_names['Unnamed: 0']
del baby_names['Id']

baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 5 columns):
Name      1016395 non-null object
Year      1016395 non-null int64
Gender    1016395 non-null object
State     1016395 non-null object
Count     1016395 non-null int64
dtypes: int64(2), object(3)
memory usage: 38.8+ MB

### Preguntas

1. Comience con una exploración de los datos, los primeros datos, columnas, índices y cantidad de datos.
2. ¿Hay más hombres o mujeres?
3. ¿Cuantos bebés hay por nombre?
4. ¿Cuantos nombres hay?
5. ¿Cuál es el nombre más popular? ¿y solo masculino? ¿y femenino?
6. ¿Cuál es la media de los nombres? ¿Cuáles nombres están en la media?
7. ¿Cuántos bebés han nacido por estado?

In [36]:
names = baby_names[["Name", "Count"]].groupby("Name").sum()

In [27]:
len(names)

17632

In [ ]:
names["Gender" == "F" ].Count.idxmax()

In [41]:
baby_names[baby_names.Gender == "F"][["Name", "Count"]].groupby("Name").sum().sort_values("Count", ascending = 0).head()

           Count
Name
Emma      214757
Isabella  204742
Sophia    191421
Emily     190211
Olivia    187962

In [42]:
baby_names[baby_names.Gender == "M"][["Name", "Count"]].groupby("Name").sum().sort_values("Count", ascending = 0).head()

          Count
Name
Jacob    242706
Michael  214228
Ethan    209153
William  197796
Joshua   191444